# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
1.7.10/build.gradle
1.7.10/CREDITS-fml.txt
1.7.10/forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
1.7.10/gradle/wrapper/gradle-wrapper.jar
1.7.10/README.txt
1.7.10/MinecraftForge-License.txt
1.7.10/MinecraftForge-Credits.txt
1.7.10/LICENSE-fml.txt
1.7.10/gradlew.bat
1.7.10/gradlew
1.7.10/gradle/wrapper/gradle-wrapper.properties
